body {
    margin: 0px;
    background-color: #212529 !important;
}

.headline {
    margin-left: 16px;
}

.container {
    background-color: #212529 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 70rem;
    min-height: 100vh;
}

.card-body-for-start-screen {
    padding: 100px !important;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(0,0,0,0.25);
    padding-top: 12px;
}

.answer-card {
    cursor: pointer;
}

.answer-card:hover {
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.options {
    box-sizing: border-box;
    margin: 8px;
    padding: 8px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startscreen-container {
    background-color: white;
    width: 70rem;
    min-height: 100vh;
}

.img-quiz-start {
    height: 500px;
    width: 100%;
}

.title-and-subtitle {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
}

.subtitle {
    font-size: 24px;
    margin-top: 12px;
}


.displaytoflex {
    display: flex;
    justify-content: space-between;
}

.contentendscreen {
    font-size: 38px;
    padding: 80px !important;
}

.set-card-body-flex-unset {
    flex: unset !important;
}

.scorecontent {
    margin-bottom: 16px;
    font-size: 20px;
}

.btn-endscreen-restart {
    font-size: 20px;
}

.arrow {
    height: 30px;
    width: 30px;
    margin-left: 8px;
    vertical-align: center;
}

.btn-for-start-screen {
    font-size: 32px !important;
    margin-top: 50px;
    margin-bottom: 12px;
}

.btn-start {
    display: flex;
    justify-content: center;
}

.font {
    font-size: 32px;
}

.startcontainer {
    width: 300px;
    min-height: 100vh;
    background-color: #212529;
}

.content-container {
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
}

.startlogo {
    margin-top: 30px;
    margin-left: 45px;
    height: 160px;
    width: 160px;
}

.restartbuttoncontainer {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.restart-btn-font {
    font-size: 20px !important;
}

.img-endscreen-question {
    height: 500px;
}


@media(max-width: 480px) {
    .img-quiz-start {
        height: unset;
    }

    .img-endscreen-question {
        height: unset;
    }

    .container {
        padding: 0 !important;
    }
}

@media (min-width: 481px) and (max-width: 1076px) {
    .img-quiz-start {
        height: unset;
    }

    .img-endscreen-question {
        height: unset;
    }

    .container {
        padding: 0 !important;
        max-width: 100% !important;
    }
}
